[submodule "3d_perception_project/catkin_ws/src/RoboND-Perception-Project"]
	path = 3d_perception_project/catkin_ws/src/RoboND-Perception-Project
	url = https://github.com/udacity/RoboND-Perception-Project
